* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #000;
}

header {
    background-color: white;
    position: sticky;
    top: 0;
    z-index: 2;
    /* margin: 6% 6%; */
}


.head {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: auto;
    /* margin: 4% 4%; */
}



.left {
    display: flex;
    width: 50%;
    margin: 1% 6%;
}



nav {
    width: 50%;
    display: flex;
    justify-content: end;
    margin: 1% 6%;
}



nav a {
    text-decoration: none;
    color: black;
    padding: 2%;
}



.sign {
    color: #FFA800;
}




.div {
    display: flex;
    align-items: center;
    padding: 24px;
}



.first-section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: auto;
    padding-top: 83px;
    padding-bottom: 104px;
    font-family: 'Inter', sans-serif;
    background-color: white;
}



.semi-left {
    align-items: center;
    width: 50%;
    margin: 6% 6%;
}


@import url('https://fonts.googleapis.com/css2?family=Inter:wght@900&display=swap');
.semi-left h1 {
    color: #000;
    font-size: 64px;
    font-weight: 600;
    font-family: 'Inter', sans-serif;
    margin-bottom: 24px;
    word-break: keep-all;
}



strong {
    color: #FFA800;
}



.semi-left .class {
    color: #000;
    font-size: 24px;
    font-weight: 400;
    line-height: 150%;
    word-break: keep-all;
}




button {
    border-radius: 8px;
    border: none;
    background: #FFBF23;
    padding: 10px;
    margin-bottom: 7%;
    margin-top: 7%;
}



.icons {
     display: flex;
     align-items: center;
}



.icon {
    display: flex;
    align-items: center;
    gap: 4%;
}


.icon p {
    font-size: 16px;
    font-weight: 400;
    margin-top: 13%;
}



.house {
    width: 50%;
    align-items: center;
    /* padding-left: 10%; */
    /* margin: 4% 4%; */

}



.house img {
    width: 70%;
    align-items: center;
    margin: auto;
}



section{
    background: #F5FAFF;
    display: flex;
    align-content: center;
    justify-content: space-around;
    margin: auto;
    height: 110vh;
    /* margin-bottom: -50%; */
    /* font-family: 'Inter', sans-serif; */
    /* margin-bottom: 20%; */
}



.second-section {
    margin: 5% 5%;
    width: 50%;
    justify-content: space-around;
    align-items: center;
    padding: 200px 0 172.5px 0;
}



.second-section h3 {
    word-break: keep-all;
    padding-bottom: 25px;
    color: #141414;
    font-family: 'Inter', sans-serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
}



.second-section p {
    word-break: keep-all;
    font-size: 18px;
    font-weight: 400;
    padding-bottom: 32px;
    color: #3D3D3D;
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    font-style: normal;
    line-height: 150%;
}



.second-section .learn {
    margin-top: 0;
    border-radius: 8px;
    border: 1px solid #464E5F;
    background-color: transparent;
    padding: 14px 24px;
    color: #464E5F;
    font-style: normal;
    font-weight: 500;
    font-family: 'Inter', sans-serif;
}

 

.house2 {
    margin: 4% 4%;
    /* width: 50%; */
    justify-content: space-around;
    align-items: center;
    padding: 64px;
}



#eye {
    position: relative;
    left: -15%;
    top: -40%;
    z-index: 1;
    font-weight: 500;
    font-family: 'Inter', sans-serif;
    justify-content: center;
    text-align: center;
    padding: 30px 32px 5px 30px;
    width: 30%;
    border-radius: 16px;
    background: #FFF;
    box-shadow: 0px 8px 10px 0px rgba(0, 0, 0, 0.20);
}



#eye img {
    width: 20%;
}



#link img {
    width: 20%;
}




#link {
    position: relative;
    right: -60%;
    top: -46%;
    z-index: 1;
    font-weight: 500;
    font-family: 'Inter', sans-serif;
    background: #FFF;
    box-shadow: 0px 8px 10px 0px rgba(0, 0, 0, 0.20);
    justify-content: center;
    text-align: center;
    border-radius: 16px;
    padding: 30px 32px 5px 30px;
    width: 30%;
}



.house2 p {
    line-height:  36px;
    font-family: 'Inter', sans-serif;
}



.third-section {
    width: 100%;
    height: 120vh;
    display: flex;
    justify-content: space-around;
    align-content: center;
    padding: 120px;
    /* gap: 30px; */
    background-color: white;
}



.house3 {
    position: relative;
    padding: 0 5% 0 10%;
    width: 55%;
}



.semi-end {
    word-break: keep-all;
    /* width: 50%; */
    /* margin-bottom: -15%; */
    height: 110vh;
    padding: 5% 3% 0 0;
}



.girl-frame {
    position: relative;
    align-items: center;
    /* text-align: center; */
    gap: 16px;
    z-index: 1;
    width: 290px;
    top: -120px;
    left: -20%;
    padding: 10px;
    /* font-weight: 500; */
    /* font-family: 'Inter', sans-serif; */
    /* align-items: center; */
    border-radius: 20px;
    background: #FFF;
    box-shadow: 0px 8px 10px 0px rgba(0, 0, 0, 0.20);
}



#joyframe img {
    margin-top: 15%;
    width: 25%;
    
}



.girl-frame p { 
    align-items: center;
    margin-left: 30%;
    margin-top: 4%;
    color: #141414;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
    font-weight: 500;
    font-family: 'Inter', sans-serif;
}



#logo {
    display: flex;
    font-weight: 700;
    font-size: 24px;
    font-family: 'Inter', sans-serif;
    margin: auto;
    margin-left: 30%;
    margin-top: -30%;
}



#social {
    margin-left: 30%;
    margin-top: 10%;
    align-items: center;
    display: flex;
    justify-content: space-around;
}



#ending {
    position: relative;
    display: flex;
    width: 26%;
    top: -240px;
    right: -350px;
    padding: 16px;
    flex-direction: column;
    align-items: flex-end;
    gap: 4px;
    border-radius: 20px;
    background: #FFF;
    box-shadow: 0px 8px 10px 0px rgba(0, 0, 0, 0.20);
}



.semi-end h2, p {
    margin-bottom: 30px;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
}



.semi-end li {
    margin-bottom: 30px;
    margin-left: 5%;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
}



.last-button {
    border-radius: 8px;
    border: 1px solid #464E5F;
    background-color: transparent;
    padding: 14px 24px;
    color: #464E5F;
    font-style: normal;
    font-weight: 400;
    font-family: 'Inter', sans-serif;
}



footer {
    background-color: black;
    margin-bottom: 0;
    padding: 0;
}



#foot {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5% 5%;
}




#copy {
    margin-top: 5%;
    margin-left: 0;
    color: rgba(255, 255, 255, 1);
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
}



#internet {
    padding-left: 110px;
    margin-left: 0;
}



#internet img {
    margin: 16px;
}


