* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    max-width: 1540%;
    margin: 0 auto;
    background-color: white;
}

header {
    background-color: white;
    position: sticky;
    top: 0;
    z-index: 2;
}


.head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
}



.left {
    display: flex;
    width: 40%;
    margin: 1% 6%;
}

.left img {
    width: 27%;
}


.head > img {
    display: none;
}



nav {
    width: 23%;
    display: flex;
    /* justify-content: end; */
    margin: 1% 6%;
}



nav a {
    text-decoration: none;
    color: black;
    padding: 2%;
    font-family: 'Proxima Nova', sans-serif;
    font-size: 20px;
}

.menu-icon {
    display: none;
    cursor: pointer;
}

.menu-icon-close {
    display: none;
    cursor: pointer;
}

.nav2 {
    display: none;
}


#blog {
    text-decoration: underline;
    text-decoration-color: #FFA800;
    line-height: 10px;
}


.sign {
    color: #FFA800;
}


.first-section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: auto;
    /* padding-top: 5%; */
    /* padding-bottom: 104px; */
    font-family: 'Inter', sans-serif;
    background-color: white;
}


.semi-left {
    align-items: center;
    width: 50%;
    margin: 6% 6%;
}


@import url('https://fonts.googleapis.com/css2?family=Inter:wght@900&display=swap');
.semi-left h1 {
    color: #000;
    font-size: 64px;
    font-weight: 600;
    font-family: 'Inter', sans-serif;
    margin-bottom: 7%;
    word-break: keep-all;
}



strong {
    color: #FFA800;
}



.semi-left .class {
    color: #000;
    font-size: 24px;
    font-weight: 200;
    line-height: 150%;
    word-break: keep-all;
}



button {
    border-radius: 8px;
    border: none;
    background: #FFBF23;
    padding: 3%;
    margin-bottom: 7%;
    margin-top: 5%;
    color: #000;
    font-family: 'Proxima Nova';
    font-size: 16px;
    font-weight: 400;
}



.icons {
     display: flex;
     align-items: center;
}



.icon {
    display: flex;
    align-items: center;
    gap: 5%;
    /* width: 50%; */
}

.icon img {
    width: 25%;
}


.icon p {
    font-size: 16px;
    font-weight: 400;
    margin-top: 13%;
}



.house {
    width: 50%;
    align-items: center;
    /* padding-left: 10%; */
    /* margin: 4% 4%; */

}



.house img {
    width: 100%;
    align-items: center;
    margin: auto;
}



section{
    background: #F5FAFF;
    display: flex;
    align-content: center;
    margin: auto;
    height: 120vh;
}



.second-section {
    margin: 4% 0 0 6%;
    width: 45%;
    justify-content: space-around;
    align-items: center;
    padding: 15% 0 16% 0;
}



.second-section h3 {
    word-break: keep-all;
    padding-bottom: 8%;
    color: #141414;
    font-family: 'Inter', sans-serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
}



.second-section p {
    word-break: keep-all;
    font-size: 18px;
    font-weight: 400;
    padding-bottom: 9%;
    color: #3D3D3D;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    line-height: 150%;
}



.second-section .learn {
    margin-top: 0;
    border-radius: 8px;
    border: 1px solid #464E5F;
    background-color: transparent;
    padding: 3% 5%;
    color: #464E5F;
    font-style: normal;
    font-weight: 500;
    font-family: 'Inter', sans-serif;
}

 

.house2 {
    margin: 4% 4%;
    width: 50%;
    justify-content: space-around;
    align-items: center;
    overflow-wrap: content-box;
    /* position: relative; */
    /* padding: 5% 0; */
}


#ire {
    /* width: 50%; */
    padding-top: 13%;
    padding-left: 15%;
    position: relative;
}

#ire img {
    width: 100%;
}




#eye {
    position: relative;
    /* right: 2rem; */
    bottom: 15rem;
    z-index: 1;
    font-weight: 500;
    font-family: 'Inter', sans-serif;
    justify-content: center;
    text-align: center;
    padding: 4% 0 1% 0;
    width: 30%;
    border-radius: 16px;
    background: #FFF;
    box-shadow: 0px 8px 10px 0px rgba(0, 0, 0, 0.20);
}



#link {
    position: relative;
    left: 26rem;
    bottom: 17rem;
    z-index: 1;
    font-weight: 500;
    font-family: 'Inter', sans-serif;
    background: #FFF;
    box-shadow: 0px 8px 10px 0px rgba(0, 0, 0, 0.20);
    justify-content: center;
    text-align: center;
    border-radius: 16px;
    padding: 4% 0 1% 0;
    width: 30%;
}



.house2 p {
    line-height:  36px;
    font-family: 'Inter', sans-serif;
}


.third-section {
    width: 100%;
    height: 120vh;
    display: flex;
    /* justify-content: center; */
    align-content: center;
    padding: 130px 130px 0 130px;
    margin: auto;
    /* gap: 30px; */
    background-color: white;
}


.third {
    width: 50%;
    gap: 0;
    margin: 0 0 0 9%;
    /* padding: 0; */
}


.bed-room {
    /* width: 50%; */
    position: relative;
    align-items: center;
}

#bed-room img {
    width: 100%;
}


.semi-end {
    word-break: keep-all;
    width: 50%;
    /* height: 110vh; */
    padding: 9% 0 0 2%;
    margin: 0;
}


.girl-frame {
    position: relative;
    align-items: center;
    z-index: 1;
    width: 60%;
    bottom: 7rem;
    right: 7rem;
    padding: 10px;
    border-radius: 20px;
    background: #FFF;
    box-shadow: 0px 8px 10px 0px rgba(0, 0, 0, 0.20);
}



#joyframe {
    margin-top: 15%;
    margin-left: 10px;
    padding-left: -20%;
}



.girl-frame p {
    align-items: center;
    margin-left: 30%;
    /* margin-top: 4%; */
    color: #141414;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    font-weight: 500;
    font-family: 'Inter', sans-serif;
}



#logo {
    display: flex;
    font-weight: 700;
    font-size: 24px;
    font-family: 'Inter', sans-serif;
    margin: auto;
    margin-left: 30%;
    margin-top: -30%;
}



#social {
    margin-left: 30%;
    margin-top: 10%;
    align-items: center;
    display: flex;
    justify-content: space-around;
}



#ending {
    position: relative;
    display: flex;
    width: 26%;
    bottom: 15rem;
    left: 24rem;
    padding: 16px;
    flex-direction: column;
    align-items: flex-end;
    border-radius: 20px;
    background: #FFF;
    box-shadow: 0px 8px 10px 0px rgba(0, 0, 0, 0.20);
}

#ending .picture {
    width: 7rem;
}



.semi-end h2, p {
    margin-bottom: 30px;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
}



.semi-end li {
    margin-bottom: 30px;
    margin-left: 5%;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
}


.last-button {
    border-radius: 8px;
    border: 1px solid #464E5F;
    background-color: transparent;
    padding: 14px 24px;
    color: #464E5F;
    font-style: normal;
    font-weight: 400;
    font-family: 'Inter', sans-serif;
}


#tag p {
    margin-top: 5%;
    margin-bottom: 24px;
    color: rgba(255, 255, 255, 1);
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
}



footer {
    background-color: black;
    width: 100%;
}



#foot {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 6%;
    /* gap: 30%; */
}

#last-frame img {
    width: 80%;
}

#internet {
    display: flex;
    gap: 1rem;
    justify-content: flex-end;
    margin-bottom: 3%;
}


@media screen and (max-width: 1388px) {
    section{
        height: 116vh;
    }

    .house2 {
        width: 50%;
        overflow-wrap: content-box;
    }

    #eye {
        bottom: 15rem;
        font-weight: 500;
        padding: 4% 0 1% 0;
        width: 27%;
    }

    #link {
        left: 24rem;
        bottom: 17rem;
        font-weight: 500;
        padding: 4% 0 1% 0;
        width: 27%;
    }
}

@media screen and (max-width: 1313px) {
    .semi-left h1 {
        font-size: 55px;
        font-weight: 600;
    }

    section{
        height: 105vh;
    }

    #ire {
        padding-top: 15%;
        padding-left: 15%;
    }

    /* #bed-room img {
        width: 90%;
    }

    .semi-end {
        word-break: keep-all;
        width: 50%;
        padding: 5% 0 0 2%;
    } */

    nav {
     width: 40%;
    }

    nav a {
        padding: 2%;
        font-size: 16px;
    }

    .left img {
        width: 33%;
    }
}

@media screen and (max-width: 1383px) {
    .semi-end {
        word-break: keep-all;
        width: 50%;
        padding: 5% 0 0 1%;
    }

    #ending .picture {
        width: 5rem;
    }

    #ending {
        width: 24%;
        bottom: 15rem;
        left: 21rem;
        padding: 16px;
    }
}

/* @media screen and (max-width: 1258px) {
    .third {
        width: 40%
    }

    #bed-room img {
        width: 90%;
    }

    .semi-end {
        word-break: keep-all;
        width: 50%;
        padding: 5% 0 0 2%;
    }
} */

@media screen and (max-width: 1259px) {
    section{
        height: 90vh;
    }

    .third-section {
        height: 120vh;
        /* padding: 130px 130px 0 130px; */
    }

    .third {
        width: 40%
    }

    #bed-room img {
        width: 90%;
    }

    .girl-frame {
        width: 66%;
        bottom: 5rem;
        right: 7rem;
        padding: 1px 0;
    }

    #joyframe {
        margin-top: 15%;
        margin-left: 10px;
        padding-left: -20%;
    }

    #joyframe img {
        width: 20%;
    }

    .girl-frame p {
        margin-left: 28%;
        font-size: 12px;
        font-weight: 400;
    }

    #logo {
        font-weight: 800;
        font-size: 20px;
        margin-left: 40%;
        margin-top: -30%;
    }

    #social {
        margin-left: 27%;
        margin-top: 4%;
        justify-content: center;
        gap: 3px;
    }

    #ending {
        width: 27%;
        bottom: 11rem;
        left: 13rem;
        padding: 16px;
    }

    #ending .picture {
        width: 4rem;
    }

    .semi-end {
        width: 50%;
        padding: 3% 0 0 0;
    }

    .semi-end h2, p {
        margin-bottom: 20px;
        font-weight: 500;
    }
    
    .semi-end li {
        margin-bottom: 20px;
        margin-left: 5%;
        font-weight: 500;
    }
    
    .last-button {
        border: 1px solid #464E5F;
        padding: 14px 24px;
        margin-top: 2px;
        font-weight: 400;
    }
}

@media screen and (max-width: 1219px) {
    #ire {
        padding-top: 25%;
        padding-left: 15%;
    }

    .second-section p {
        padding-bottom: 0;
    }

    #ire img {
        width: 90%
    }

    #eye {
        bottom: 12rem;
        font-weight: 500;
        padding: 4% 0 0 0;
        width: 25%;
    }

    #link {
        left: 20rem;
        bottom: 16rem;
        font-weight: 500;
        padding: 4% 0 0 0;
        width: 25%;
    }

}

@media screen and (max-width: 1128px) {
    .semi-left h1 {
        font-size: 45px;
        font-weight: 600;
    }

    .semi-left .class {
        font-size: 20px;
        font-weight: 200;
    }

    #ire {
        padding-top: 20%;
        padding-left: 15%;
    }

    .icon {
        gap: 5%;
    }
    
    
    .icon p {
        font-size: 12px;
        font-weight: 400;
    }
}

@media screen and (max-width: 1104px) {
    .second-section h3 {
        padding-bottom: 8%;
        font-size: 25px;
        font-weight: 600;
    }

    .second-section p {
        font-weight: 400;
        padding-bottom: 3%;
        font-size: 15px;
    }

    section{
        height: 95vh;
    }

    .semi-end {
        width: 50%;
        padding: 2% 0 0 0;
    }

    .semi-end h2, p {
        margin-bottom: 10px;
        font-weight: 500;
    }
    
    .semi-end li {
        margin-bottom: 10px;
        margin-left: 5%;
        font-weight: 500;
    }
    
    .last-button {
        border: 1px solid #464E5F;
        padding: 14px 24px;
        margin-top: 2px;
        font-weight: 400;
    }
}

@media screen and (max-width: 1094px) {
    .second-section h3 {
        padding-bottom: 8%;
        font-size: 20px;
        font-weight: 600;
    }

    .second-section p {
        padding-bottom: 0;
    }

    #link {
        left: 17rem;
        bottom: 15rem;
        font-weight: 500;
        width: 25%;
    }

    #ire {
        padding-top: 30%;
        padding-left: 15%;
    }

    section{
        height: 90vh;
    }

    .third-section {
        /* height: 100vh; */
    }

    .girl-frame p {
        margin-left: 25%;
        font-size: 12px;
        font-weight: 400;
    }

    .girl-frame {
        width: 75%;
        bottom: 5rem;
        right: 6rem;
        padding: 1px 0;
    }

    #social {
        margin-left: 27%;
        margin-top: 3%;
        justify-content: center;
        gap: 3px;
        /* width: 20%; */
    }

    #ending {
        width: 27%;
        bottom: 11rem;
        left: 11rem;
        padding: 16px;
    }

    #ending .picture {
        width: 3rem;
    }
}


@media screen and (max-width: 923px) {
    .semi-left h1 {
        font-size: 35px;
        font-weight: 600;
    }

    .semi-left .class {
        font-size: 18px;
        font-weight: 200;
    }

    button {
        font-size: 13px;
        font-weight: 400;
    }

    .icon {
        gap:5%;
    }

    .icon img {
        width: 28%;
    }
    
    .icon p {
        font-size: 10px;
        font-weight: 400;
        margin-top: 20%;
    }

    .house {
        width: 70%;
        align-items: center;
        justify-content: center;
    }
}

@media screen and (max-width: 977px) {
    .icon {
        gap: 5%;
    }
    
    
    .icon p {
        font-size: 10px;
        font-weight: 400;
    }

    #link {
        left: 15rem;
        bottom: 14rem;
        font-weight: 500;
        width: 25%;
    }

    section{
        height: 90vh;
    }

    .third-section {
        /* height: 100vh; */
    }
  
    .third-section {
        width: 100%;
        height: 140vh;
        display: flex;
        padding: 20px 0;
        margin-top: 200px;
        flex-direction: column-reverse;
    }
    
    
    .third {
        width: 80%;
        margin: 0 0 0 9%;
    }
    
    
    .bed-room {
        align-items: center;
    }
    
    #bed-room img {
        width: 100%;
    }
    
    .semi-end {
        width: 100%;
        padding: 9% 0 0 2%;
        margin: 15% 0 0 0;
    }
    
    .girl-frame {
        width: 55%;
        bottom: 7rem;
        right: 5rem;
        padding: 10px;
    }
    
    #joyframe {
        margin-top: 15%;
        margin-left: 10px;
        padding-left: -20%;
    }
    
    .girl-frame p {
        margin-left: 30%;
        font-size: 14px;
        font-weight: 400;
    }    
    
    #logo {
        font-weight: 700;
        font-size: 24px;
        margin-left: 30%;
        margin-top: -30%;
    }
    
    #social {
        margin-left: 30%;
        margin-top: 10%;
        justify-content: space-around;
    }
    
    #ending {
        width: 24%;
        bottom: 16rem;
        left: 26rem;
        padding: 16px;
    }
    
    #ending .picture {
        width: 7rem;
        text-align: center;
    }
    
    .semi-end h2, p {
        margin-bottom: 30px;
        font-weight: 500;
    }
    
    .semi-end li {
        margin-bottom: 30px;
        margin-left: 5%;
        font-weight: 500;
    }
    
    .last-button {
        padding: 14px 40%;
        font-weight: 400;
    }
}

@media screen and (max-width: 861px) {
    .left img {
        width: 45%;
    }

    .semi-left h1 {
        font-size: 30px;
        font-weight: 600;
    }

    .semi-left .class {
        font-size: 15px;
        font-weight: 200;
    }

    button {
        font-size: 10px;
        font-weight: 400;
    }

    section{
        height: 83vh;
    }

    #ending {
        width: 25%;
        bottom: 15rem;
        left: 26rem;
        padding: 16px;
    }

    #ending .picture {
        width: 6rem;
        text-align: center;
    }
}

@media screen and (max-width: 787px) {
    nav {
        display: none;
    }

    .menu-icon{
        display: block;
    }

    .menu-icon.hide {
        display: none;
    }

    .menu-icon-close.hide{
        display: block;
    }

    .nav2.visible {
        display: flex;
        flex-direction: column;
        background: var(--Background, #F3F6F1);
        gap: 72px;
        height: 100vh;
        /* margin: 0 7%; */
    }

    .nav2.visible a {
        text-decoration: none;
        font-size: 18px;
        margin-top: 48px;
        color: #141414;
        text-align: center;
        font-family: 'Clash Grotesk';
        font-size: 18px;
        font-weight: 600;
    }

    .nav2 hr {
        margin: 0 15%;
    }

   
    header {
        padding: 17px;
    }

    .head {
        display: flex;
        /* justify-content: space-between; */
        align-items: center;
        margin: auto;
    }

    .head > img {
        display: block;
        margin: 0 0 0 10%;
        width: 50%;
    }

    .left {
        margin: 1% 4%;
    }

    .left img {
        width: 45%;
    }

    .semi-end {
        width: 100%;
        padding: 15% 0 0 2%;
    }

    .last-button {
        border-radius: 8px;
        border: 1px solid #464E5F;
        padding: 14px 37%;
    }

    /* .third {
        width: 110%;
        gap: 0;
        margin: 0 0 0 9%;
    } */

    #bed-room img {
        width: 100%;
    }    

    .girl-frame {
        width: 58%;
        bottom: 7rem;
        right:4rem;
        padding: 12px;
    }
    
    #joyframe {
        margin-top: 15%;
        margin-left: 10px;
        padding-left: -20%;
    }
    
    .girl-frame p {
        margin-left: 30%;
        font-size: 15px;
        font-weight: 400;
        margin-top: 4%;
    }    
    
    #logo {
        font-weight: 700;
        font-size: 24px;
        margin-left: 30%;
        margin-top: -30%;
    }
    
    #social {
        margin-left: 30%;
        margin-top: 10%;
    }
    
    #ending {
        width: 24%;
        left: 25rem;
        bottom: 16rem;
    }
    
    #ending .picture {
        width: 6rem;
        text-align: center;
    }
}


@media screen and (max-width: 787px) {
    /* nav {
        display: none;
    }

    .head > img {
        display: block;
    } */

    .first-section {
        flex-direction: column;
    }

    .semi-left {
        align-items: center;
        width: 80%;
        margin: 6% 6%;
    }

    .semi-left h1 {
        font-size: 64px;
        font-weight: 600;
    }

    .semi-left .class {
        font-size: 24px;
        font-weight: 200;
    }

    button {
        padding: 3% 35%;
        font-size: 15px;
        font-weight: 400;
    }

    .icon p {
        font-size: 16px;
        font-weight: 400;
        margin-top: 13%;
    }
    
    .house {
        width: 100%;
        align-items: center;
    }

    section{
        display: flex;
        flex-direction: column;
        margin: auto;
        height: 190vh;
    }

    .second-section {
        margin: 4% 0 0 8%;
        width: 90%;
        padding: 15% 0 0 0;
    }

    .second-section h3 {
        padding-bottom: 8%;
        font-size: 32px;
        font-weight: 600;
    }
    
    .second-section p {
        font-size: 18px;
        font-weight: 400;
        padding-bottom: 9%;
    }
    
    .second-section .learn {
        padding: 3% 35%;
    }

    .house2 {
        margin: 0 4%;
        width: 90%;
        justify-content: space-around;
        align-items: center;
    }
    
    #ire {
        padding-top: 13%;
        padding-left: 15%;
    }
    
    #ire img {
        width: 100%;
    }
    
    #eye {
        bottom: 17rem;
        padding: 4% 0 1% 0;
        width: 27%;
    }
    
    #link {
        left: 26rem;
        bottom: 19rem;
        padding: 4% 0 1% 0;
        width: 27%;
    }
}

@media screen and (max-width: 722px) {
    .semi-left h1 {
        font-size: 57px;
        font-weight: 600;
    }

    .semi-left .class {
        font-size: 20px;
        font-weight: 200;
    }

    #link {
        left: 24rem;
        width: 25%;
    }

    #eye {
        width: 25%;
    }

    section{
        height: 175vh;
    }

    /* .third {
        width: 115%;
        padding: 7% 0;
    } */

    #bed-room img {
        width: 100%;
    } 

    .girl-frame {
        width: 58%;
        bottom: 7rem;
        right: 3rem;
        padding: 12px;
    }

    .girl-frame p {
        margin-left: 30%;
        font-size: 13px;
        font-weight: 400;
        margin-top: 4%;
    }    
    
    #logo {
        font-weight: 700;
        font-size: 24px;
        margin-left: 30%;
        margin-top: -30%;
    }
    
    #social {
        margin-left: 30%;
        margin-top: 10%;
    }
    
    #ending {
        width: 24%;
        left: 21rem;
        bottom: 16rem;
    }
    
    #ending .picture {
        width: 5rem;
        text-align: center;
    }
}

@media screen and (max-width: 643px) {
    .semi-left h1 {
        font-size: 50px;
        font-weight: 600;
    }

    .semi-left .class {
        font-size: 18px;
        font-weight: 600;
    }

    button {
        font-size: 13px;
        font-weight: 400;
    }

    section{
        height: 160vh;
    }

    /* .third {
        width: 120%;
        padding: 7% 0;
    } */
}

@media screen and (max-width: 686px) {
    .semi-end {
        width: 100%;
        padding: 27% 0 0 2%;
    }

    .last-button {
        padding: 14px 36%;
    }
} 

@media screen and (max-width: 585px) {
    section{
        height: 162vh;
    }

    #link {
        left: 20rem;
        bottom: 17rem;
        width: 25%;
    }

    .girl-frame {
        width: 58%;
        bottom: 7rem;
        right: 3rem;
        padding: 12px;
    }

    .girl-frame p {
        margin-left: 30%;
        font-size: 10px;
        font-weight: 400;
        margin-top: 4%;
    }    
    
    #logo {
        font-weight: 700;
        font-size: 24px;
        margin-left: 30%;
        margin-top: -30%;
    }
    
    #social {
        margin-left: 30%;
        margin-top: 6%;
    }
    
    #ending {
        width: 24%;
        left: 16rem;
        bottom: 14rem;
    }
    
    #ending .picture {
        width: 3.5rem;
        text-align: center;
    }
}

@media screen and (max-width: 564px) {
    .left img {
        width: 55%;
    }

    .icon {
        gap:5%;
    }

    .icon img {
        width: 28%;
    }
    
    .icon p {
        font-size: 12px;
        font-weight: 400;
        margin-top: 20%;
    }

    .semi-left h1 {
        font-size: 35px;
        font-weight: 600;
    }

    .semi-left .class {
        font-size: 15px;
        font-weight: 600;
    }

    button {
        font-size: 10px;
        font-weight: 400;
    }

    section{
        height: 150vh;
    }

    .third-section {
        height: 120vh;
    }
}

@media screen and (max-width: 491px) {
    section{
        height: 155vh;
    }

    .second-section {
        margin: 4% 0 0 8%;
        width: 90%;
    }

    .semi-left h1 {
        font-size: 15px;
        font-weight: 400;
    }

    #eye {
        bottom: 14rem;
        padding: 4% 0 1% 0;
        width: 27%;
    }

    #link {
        left: 17rem;
        bottom: 15rem;
        width: 25%;
    }

    .third-section {
        width: 100%;
        padding: 0;
    }

    .semi-end {
        width: 100%;
        padding: 15% 0 0 2%;
    }

    .semi-end h2, p {
        margin-bottom: 20px;
        font-weight: 500;
    }
    
    .semi-end li {
        margin-bottom: 25px;
        margin-left: 0;
        font-weight: 400;
    } 
}

@media screen and (max-width: 447px) {
    section{
        height: 70vh;
    }

    .third-section {
        height: 105vh;
    }

    .girl-frame {
        width: 52%;
        bottom: 4rem;
        right: 1rem;
        padding: 5px 0;
    }

    .girl-frame p {
        margin-left: 30%;
        font-size: 7px;
        font-weight: 400;
        margin-top: 4%;
    }    
    
    #logo {
        font-weight: 700;
        font-size: 20px;
        margin-left: 30%;
        margin-top: -25%;
    }
    
    #social {
        margin-left: 30%;
        margin-top: 4%;
        justify-content: space-evenly;
    }
    
    #ending {
        width: 24%;
        left: 12rem;
        bottom: 10rem;
    }
    
    #ending .picture {
        width: 2rem;
        text-align: center;
    }
}

@media screen and (max-width: 444px) {
    .icon img {
        width: 28%;
    }
    
    .icon p {
        font-size: 10px;
        font-weight: 400;
    }

    #link {
        left: 15rem;
        bottom: 15rem;
    }

    section{
        height: 150vh;
    }

    /* .third-section {
        height: 110vh;
    } */

    #ending {
        width: 24%;
        left: 14rem;
        bottom: 11rem;
    }

    #ending .picture {
        width: 3rem;
        text-align: center;
    }
}

@media screen and (max-width: 355px) {
    .icon {
        gap:3%;
    }

    .icon img {
        width: 23%;
    }
    
    .icon p {
        font-size: 10px;
        font-weight: 200;
    }

    #link {
        left: 11rem;
        bottom: 14rem;
        padding: 4% 0 0 0;
        width: 34%;
    }

    #eye {
        bottom: 12rem;
        padding: 4% 0 0 0;
        width: 34%;
    }

    section{
        height: 50vh;
    }

    .third-section {
        height: 105vh;
    }
}

@media screen and (max-width: 395px) {
    .left img {
        width: 65%;
    }

    section{
        height: 130vh;
    }

    .third-section {
        height: 100vh;
    }

    .semi-left h1 {
        font-size: 25px;
        font-weight: 600;
    }

    .semi-left .class {
        font-size: 13px;
        font-weight: 600;
    }

    button {
        font-size: 8px;
        font-weight: 400;
    }
    
    #ending {
        width: 24%;
        left: 12rem;
        bottom: 11rem;
    }

    #ending .picture {
        width: 2.5rem;
        text-align: center;
    }

}

@media screen and (max-width: 326px) {
    #ending {
        width: 24%;
        left: 10rem;
        bottom: 10rem;
    }

    #ending .picture {
        width: 2rem;
        text-align: center;
    }
}

@media screen and (max-width: 968px) {
    #tag p {
        font-size: 20px;
    } 
}

@media screen and (max-width: 807px) {
    #tag p {
        font-size: 15px;
    } 
}

@media screen and (max-width: 537px) {
    #foot {
        flex-direction: column;
        align-items: center;
        gap: 1rem;
    } 
    
    #last-frame img {
        padding-top: 1%;
    }
    
    #tag p {
        font-size: 12px;
    }

    #tag img {
        width: 12%;
    }
}

