* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    max-width: 1540%;
    margin: 0 auto;
    background-color: white;
}

header {
    background-color: white;
    position: sticky;
    top: 0;
    z-index: 2;
}


header > .iren {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
}



header > .iren > .left {
    display: flex;
    width: 40%;
    margin: 1% 6%;
}

header > .iren > .left img {
    width: 27%;
}


header > .iren > img {
    display: none;
}



header > .iren > nav {
    width: 23%;
    display: flex;
    /* justify-content: end; */
    margin: 1% 6%;
}



header > .iren > nav a {
    text-decoration: none;
    color: black;
    padding: 2%;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
}

header > .iren > div .menu-icon {
    display: none;
    cursor: pointer;
}

header > .iren > div .menu-icon-close {
    display: none;
    cursor: pointer;
}

header > .nav2 {
    display: none;
}


header > .iren > nav #blog {
    text-decoration: underline;
    text-decoration-color: #FFA800;
    line-height: 10px;
}


header > .iren > nav .sign {
    color: #FFA800;
}


.first-section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: auto;
    /* padding-top: 5%; */
    /* padding-bottom: 104px; */
    font-family: 'Inter', sans-serif;
    background-color: white;
}


.first-section > .semi-left {
    align-items: center;
    width: 50%;
    margin: 6% 6%;
}


@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap');
.first-section > .semi-left h1 {
    color: #000;
    font-size: 64px;
    font-weight: 600;
    font-family: 'Inter', sans-serif;
    margin-bottom: 7%;
    word-break: keep-all;
}

.first-section > .semi-left strong {
    color: #FFA800;
}

.first-section > .semi-left > .class {
    color: #000;
    font-size: 24px;
    font-weight: 200;
    line-height: 150%;
    word-break: keep-all;
}

.first-section > .semi-left > button {
    border-radius: 8px;
    border: none;
    background: #FFBF23;
    padding: 3%;
    margin-bottom: 7%;
    margin-top: 5%;
    color: #000;
    font-family: 'Proxima Nova';
    font-size: 16px;
    font-weight: 400;
}

.first-section > .semi-left > .icons {
     display: flex;
     align-content: center;
     justify-content: center;
}

.first-section > .semi-left > .icons > .icon {
    display: flex;
    align-items: center;
    justify-items: center;
    gap: 5%;
}

.first-section > .semi-left > .icons > .icon img {
    width: 25%;
    text-align: center;
}

.first-section > .semi-left > .icons > .icon p {
    font-size: 16px;
    font-weight: 400;
    align-content: center;
    justify-content: center;
    font-family: 'Inter', sans-serif;
}

.first-section > .house {
    width: 50%;
    align-items: center;
    /* padding-left: 10%; */
    /* margin: 4% 4%; */

}

.first-section > .house img {
    width: 100%;
    align-items: center;
    margin: auto;
}

section{
    background: #F5FAFF;
    display: flex;
    align-content: center;
    margin: auto;
    height: 120vh;
}

section > .second-section {
    margin: 4% 0 0 6%;
    width: 45%;
    justify-content: space-around;
    align-items: center;
    padding: 15% 0 16% 0;
}

section > .second-section h3 {
    word-break: keep-all;
    padding-bottom: 8%;
    color: #141414;
    font-family: 'Inter', sans-serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
}

section > .second-section p {
    word-break: keep-all;
    font-size: 18px;
    font-weight: 400;
    padding-bottom: 9%;
    color: #3D3D3D;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    line-height: 150%;
}

section > .second-section .learn {
    margin-top: 0;
    border-radius: 8px;
    border: 1px solid #464E5F;
    background-color: transparent;
    padding: 3% 5%;
    color: #464E5F;
    font-style: normal;
    font-weight: 500;
    font-family: 'Inter', sans-serif;
}

section > .house2 {
    margin: 4% 4%;
    width: 50%;
    justify-content: space-around;
    align-items: center;
    overflow-wrap: content-box;
    /* position: relative; */
    /* padding: 5% 0; */
}

section > .house2 > #ire {
    /* width: 50%; */
    padding-top: 13%;
    padding-left: 15%;
    position: relative;
}

section > .house2 > #ire img {
    width: 100%;
}

section > .house2 > #eye {
    position: relative;
    /* right: 2rem; */
    bottom: 15rem;
    z-index: 1;
    font-size: 18px;
    font-weight: 500;
    font-family: 'Inter', sans-serif;
    justify-content: center;
    text-align: center;
    padding: 6% 0 6% 0;
    width: 30%;
    border-radius: 16px;
    background: #FFF;
    box-shadow: 0px 8px 10px 0px rgba(0, 0, 0, 0.20);
}

section > .house2 > #link {
    position: relative;
    left: 28rem;
    bottom: 17rem;
    z-index: 1;
    font-size: 18px;
    font-weight: 500;
    font-family: 'Inter', sans-serif;
    background: #FFF;
    box-shadow: 0px 8px 10px 0px rgba(0, 0, 0, 0.20);
    justify-content: center;
    text-align: center;
    border-radius: 16px;
    padding: 6% 0 6% 0;
    width: 30%;
}

section > .house2 p {
    line-height:  36px;
    font-family: 'Inter', sans-serif;
}


.third-section {
    width: 100%;
    height: 120vh;
    display: flex;
    /* justify-content: center; */
    align-content: center;
    padding: 130px 130px 0 130px;
    margin: auto;
    gap: 30px;
    background-color: white;
}


.third-section > .third {
    width: 50%;
    gap: 0;
    margin: 0 0 0 9%;
    /* padding: 0; */
}


.third-section > .third > #bed-room {
    /* width: 50%; */
    position: relative;
    align-items: center;
}

.third-section > .third > #bed-room img {
    width: 100%;
}



.third-section > .third > .girl-frame {
    position: relative;
    align-items: center;
    z-index: 1;
    width: 60%;
    bottom: 7rem;
    right: 7rem;
    padding: 10px;
    border-radius: 20px;
    background: #FFF;
    box-shadow: 0px 8px 10px 0px rgba(0, 0, 0, 0.20);
}



.third-section > .third > .girl-frame > #joyframe {
    margin-top: 15%;
    margin-left: 10px;
    padding-left: -20%;
}



.third-section > .third > .girl-frame > #joyframe p {
    align-items: center;
    margin-left: 30%;
    /* margin-top: 4%; */
    color: #141414;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    font-weight: 500;
    font-family: 'Inter', sans-serif;
}



.third-section > .third > .girl-frame > #joyframe #logo {
    display: flex;
    font-weight: 700;
    font-size: 24px;
    font-family: 'Inter', sans-serif;
    margin: auto;
    margin-left: 30%;
    margin-top: -30%;
}



.third-section > .third >.girl-frame >  #social {
    margin-left: 30%;
    margin-top: 10%;
    align-items: center;
    display: flex;
    justify-content: space-around;
}



.third-section > .third > #ending {
    position: relative;
    display: flex;
    width: 26%;
    bottom: 15rem;
    left: 24rem;
    padding: 16px;
    flex-direction: column;
    align-items: flex-end;
    border-radius: 20px;
    background: #FFF;
    box-shadow: 0px 8px 10px 0px rgba(0, 0, 0, 0.20);
}

.third-section > .third > #ending .picture {
    width: 7rem;
}

.third-section > .semi-end {
    word-break: keep-all;
    width: 50%;
    /* height: 110vh; */
    padding: 9% 0 0 2%;
    margin: 0;
}


.third-section > .semi-end h2 {
    margin-bottom: 30px;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    color: #141414;
}

.third-section > .semi-end p {
    margin-bottom: 30px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 18px;
}



.third-section > .semi-end li {
    margin-bottom: 30px;
    margin-left: 5%;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
}


.third-section > .semi-end > .last-button {
    border-radius: 8px;
    border: 1px solid #464E5F;
    background-color: transparent;
    padding: 14px 24px;
    color: #464E5F;
    font-style: normal;
    font-weight: 400;
    font-family: 'Inter', sans-serif;
}


footer {
    background-color: black;
    width: 100%;
}

footer > #foot {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 6%;
    /* gap: 30%; */
}

footer > #foot #last-frame {
    width: 20%;
}

footer > #foot #last-frame img {
    width: 80%;
}

footer > #foot > #tag p {
    margin-top: 5%;
    margin-bottom: 24px;
    color: rgba(255, 255, 255, 1);
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
}

footer > #foot > #tag {
    width: 33%;
}


footer > #foot > #tag > #internet {
    display: flex;
    gap: 1rem;
    justify-content: flex-end;
    margin-bottom: 3%;
    width: 100%;
}

footer > #foot > #tag > #internet img {
    width: 10%;
}

@media screen and (min-width: 320px) and (max-width: 480px) {
    header > .iren > nav {
        display: none;
    }

    header > .iren > div .menu-icon{
        display: block;
    }

    header > .iren > div .menu-icon.hide {
        display: none;
    }

    header > .iren > div .menu-icon-close.hide{
        display: block;
    }

    header > .nav2 {
        position: static;
        top: 0;
        z-index: 3;
    }

    header > .nav2.visible {
        display: flex;
        flex-direction: column;
        background: var(--Background, #F3F6F1);
        gap: 40px;
        height: 100vh;
        width: 100%;
        position: static;
        top: 0;
        z-index: 3;
    }

    header > .nav2.visible a {
        text-decoration: none;
        font-size: 18px;
        margin-top: 48px;
        color: #141414;
        text-align: center;
        font-family: 'Inter', sans-serif;
        font-size: 18px;
        font-weight: 600;
    }

    header > .nav2 hr {
        margin: 0 15%;
    }

    header > .nav2 #blog {
        text-decoration: none;
    }


    header {
        padding: 10px;
    }

    header > .iren > .left {
        width: 40%;
        padding: 0;
        margin: 0;
    }

    header > .iren > .left img {
        display: block;
        margin: 0;
        width: 90%;
    }
    
    .first-section {
        display: flex;
        flex-direction: column;
        margin: auto;
        width: 100%;
        padding: 0 2%;
    }    

    .first-section > .semi-left h1 {
        font-size: 2rem;
        word-break: keep-all;
    }
    
    .first-section > .semi-left {
        text-align: left;
        width: 100%;
        margin: 6% 0;
    }    
    
    .first-section > .semi-left > .class {
        font-size: 1rem;
        word-break: keep-all;
        padding-bottom: 5%;
    }    
    
    .first-section > .semi-left > button {
        margin-top: 2%;
        font-size: 1rem;
    }   
    
    
    .first-section > .semi-left > .icons {
         display: flex;
         align-items: center;
         margin-top: 7%;
    }    
    
    .first-section > .semi-left > .icons > .icon {
        display: flex;
        align-items: center;
        gap: 5%;
        flex-direction: column;
        /* width: 50%; */
    }
    
    .first-section > .semi-left > .icons > .icon img {
        width: 35%;
    }    
    
    .first-section > .semi-left > .icons > .icon p {
        font-size: 1rem;
        text-align: center;
    }
        
    .first-section > .house {
        width: 100%;
        align-items: center;    
    }
    
    .first-section > .house img {
        width: 100%;
        margin: auto;
    }  
    
    section{
        display: flex;
        flex-direction: column;
        margin: auto;
        height: auto;
        padding: 0 2%;
    }   
    
    section > .second-section {
        margin: 4% 0;
        width: 100%;
        padding: 0;
    }    
    
    section > .second-section h3 {
        word-break: keep-all;
        padding-bottom: 8%;
        font-size: 1.5rem;
    }
    
    section > .second-section p {
        word-break: keep-all;
        font-size: 1rem;
        padding-bottom: 9%;
    }    
    
    section > .second-section .learn {
        margin-top: 0;
        font-size: 1rem;
    }   
    
    section > .house2 {
        margin: 0;
        width: 100%;
        position: relative;
    }   
    
    section > .house2 > #ire {
        padding-top: 13%;
        padding-left: 15%;
        position: relative;
        width: 100%;
    }
    
    section > .house2 > #ire img {
        width: 100%;
    }
    
    section > .house2 > #eye {
        position: relative;
        bottom: 7rem;
        z-index: 1;
        font-size: 1rem;
        padding: 2% 0 1% 0;
        width: 30%;
    }    
    
    section > .house2 > #link {
        position: absolute;
        left: 16rem;
        bottom: 3rem;
        z-index: 1;
        font-size: 1rem;
        padding: 2% 0 1% 0;
        width: 30%;
    }    
    
    section > .house2 p {
        line-height:  36px;
        font-family: 'Inter', sans-serif;
    }
    
    .third-section {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        padding: 2%;
        margin: 20% auto;
    }
    
    .third-section > .third {
        width: 100%;
        margin: 0;
        position: relative;
    }
    
    .third-section > .third > #bed-room {
        width: 100%;
        position: relative;
        align-items: center;
    }
    
    .third-section > .third > #bed-room img {
        width: 100%;
    }
    
    .third-section > .third > .girl-frame {
        position: relative;
        z-index: 1;
        bottom: 5rem;
        right: 2rem;
        padding: 1rem;
        width: 100%;
    }
    
    .third-section > .third > .girl-frame > #joyframe {
        margin-top: 5%;
        margin-left: 10px;
        padding-left: 0%;
    } 
    
    .third-section > .third > .girl-frame > #joyframe img {
        width: 24%;
    }
    
    .third-section > .third > .girl-frame > #joyframe p {
        font-size: 12px;
        padding-bottom: 2%;
    }
    
    .third-section > .third > .girl-frame > #joyframe #logo {
        font-size: 1.3rem;
        margin-left: 30%;
        margin-top: -30%;
    }
    
    .third-section > .third >.girl-frame >  #social {
        margin-left: 20%;
        margin-top: 3%;
        display: flex;
        justify-content: space-evenly;
    }    
    
    .third-section > .third > #ending {
        position: absolute;
        z-index: 1;
        width: 30%;
        bottom: 23rem;
        left: 16rem;
        padding: 1rem;
    }
    
    .third-section > .third > #ending .picture {
        width: 100%;
    }
    
    .third-section > .semi-end {
        word-break: keep-all;
        width: 100%;
        /* height: 110vh; */
        padding: 0 2%;
        margin: 0;
    }
    
    .third-section > .semi-end h2 {
        font-weight: 600;
        font-size: 1.5rem;
    }
    
    .third-section > .semi-end p {
        font-weight: 500;
        font-size: 1rem;
    }
    
    .third-section > .semi-end > .last-button {
        font-size: 1rem;
        padding: 1rem;
    }
    
    footer {
        width: 100%;
        padding: 7% 0;
    }
    
    footer > #foot {
        display: flex;
        flex-direction: column;
        margin: 0;
    }
    
    footer > #foot #last-frame {
        width: 45%;
    }
    
    footer > #foot #last-frame img {
        width: 100%;
    }
    
    footer > #foot > #tag p {
        margin-bottom: 0;
        font-size: 1rem;
        width: 100%;
        text-align: center;
    }
    
    footer > #foot > #tag {
        width: 100%;
        display: flex;
        flex-direction: column-reverse;
    }
    
    
    footer > #foot > #tag > #internet {
        display: flex;
        justify-content: center;
        margin-top: 8%;
        width: 100%;
    }
    
    footer > #foot > #tag > #internet img {
        width: 7%;
    }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    header > .iren > nav {
        display: none;
    }

    header > .iren > div {
        width: 15%;
        text-align: center;
    }

    header > .iren > div img {
        width: 40%;
    }

    header > .iren > div .menu-icon{
        display: block;
    }

    header > .iren > div .menu-icon.hide {
        display: none;
    }

    header > .iren > div .menu-icon-close.hide{
        display: block;
    }

    header > .nav2 {
        position: static;
        top: 0;
        z-index: 3;
        width: 45%;
    }

    header > .nav2.visible {
        display: flex;
        flex-direction: column;
        background: var(--Background, #F3F6F1);
        gap: 5rem;
        height: 100vh;
        width: 100%;
        position: static;
        top: 0;
        z-index: 3;
    }

    header > .nav2.visible a {
        text-decoration: none;
        font-size: 3rem;
        margin-top: 48px;
        color: #141414;
        text-align: center;
        font-family: 'Inter', sans-serif;
        font-weight: 600;
    }

    header > .nav2 hr {
        margin: 0 15%;
    }

    header > .nav2 #blog {
        text-decoration: underline;
        text-decoration-color: #FFA800;
    }


    header {
        padding: 10px;
    }

    header > .iren > .left {
        width: 40%;
        padding: 0 0 0 4%;
        margin: 0;
    }

    header > .iren > .left img {
        display: block;
        margin: 0;
        width: 95%;
    }
    
    .first-section {
        display: flex;
        flex-direction: column;
        margin: auto;
        width: 100%;
        padding: 0 4%;
    }  
    
    .first-section > .semi-left {
        text-align: left;
        width: 100%;
        margin: 6% 0;
    }    

    .first-section > .semi-left h1 {
        font-size: 4rem;
        word-break: keep-all;
    }
       
    .first-section > .semi-left > .class {
        font-size: 2rem;
        word-break: keep-all;
        padding-bottom: 5%;
    }    
    
    .first-section > .semi-left > button {
        margin-top: 2%;
        font-size: 1.5rem;
    }   
    
    
    .first-section > .semi-left > .icons {
         display: flex;
         align-content: center;
         justify-content: center;
         margin-top: 7%;
    }    
    
    .first-section > .semi-left > .icons > .icon {
        display: flex;
        align-items: center;
        gap: 5%;
        text-align: center;
        /* width: 50%; */
    }
    
    .first-section > .semi-left > .icons > .icon img {
        width: 30%;
    }    
    
    .first-section > .semi-left > .icons > .icon p {
        font-size: 1.5rem;
        text-align: left;
    }
        
    .first-section > .house {
        width: 100%;
        align-items: center; 
        text-align: center;   
    }
    
    .first-section > .house img {
        width: 100%;
        margin: auto;
    }  
    
    section{
        display: flex;
        flex-direction: column;
        margin: auto;
        height: auto;
        padding: 0 4%;
        width: 100%;
    }   
    
    section > .second-section {
        margin: 4% 0;
        width: 100%;
        padding: 0;
    }    
    
    section > .second-section h3 {
        word-break: keep-all;
        padding-bottom: 8%;
        font-size: 3rem;
    }
    
    section > .second-section p {
        word-break: keep-all;
        font-size: 2rem;
        padding-bottom: 9%;
    }    
    
    section > .second-section .learn {
        margin-top: 0;
        font-size: 1.5rem;
    }   
    
    section > .house2 {
        margin: 0;
        width: 100%;
        position: relative;
    }   
    
    section > .house2 > #ire {
        padding-top: 13%;
        padding-left: 15%;
        position: relative;
        width: 100%;
    }
    
    section > .house2 > #ire img {
        width: 100%;
    }
    
    section > .house2 > #eye {
        position: relative;
        bottom: 16rem;
        z-index: 1;
        font-size: 1.5rem;
        text-align: center;
        padding: 10% 0;
        width: 30%;
    }    
    
    section > .house2 > #link {
        position: absolute;
        left: 28rem;
        bottom: 5rem;
        z-index: 1;
        font-size: 1.5rem;
        text-align: center;
        padding: 10% 0;
        width: 30%;
    }    
    
    .third-section {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        padding: 4%;
        margin: 20% auto;
    }
    
    .third-section > .third {
        width: 100%;
        margin: 0;
        position: relative;
    }
    
    .third-section > .third > #bed-room {
        width: 100%;
        position: relative;
        align-items: center;
    }
    
    .third-section > .third > #bed-room img {
        width: 100%;
    }
    
    .third-section > .third > .girl-frame {
        position: relative;
        z-index: 1;
        bottom: 7rem;
        right: 2rem;
        padding: 2.2rem 1rem;
        width: 60%;
    }
    
    .third-section > .third > .girl-frame > #joyframe {
        margin-top: 5%;
        margin-left: 10px;
        padding-left: 0%;
    } 
    
    .third-section > .third > .girl-frame > #joyframe img {
        width: 26%;
    }
    
    .third-section > .third > .girl-frame > #joyframe p {
        font-size: 1.2rem;
        padding-bottom: 2%;
    }
    
    .third-section > .third > .girl-frame > #joyframe #logo {
        font-size: 1.5rem;
        margin-left: 30%;
        margin-top: -30%;
    }
    
    .third-section > .third >.girl-frame >  #social {
        margin-left: 20%;
        margin-top: 3%;
        display: flex;
        justify-content: space-evenly;
    }    
    
    .third-section > .third > #ending {
        position: absolute;
        z-index: 1;
        width: 30%;
        bottom: 6rem;
        left: 30rem;
        padding: 1.5rem;
    }
    
    .third-section > .third > #ending .picture {
        width: 100%;
    }
    
    .third-section > .semi-end {
        word-break: keep-all;
        width: 100%;
        /* height: 110vh; */
        padding: 0 2%;
        margin: 0;
    }
    
    .third-section > .semi-end h2 {
        font-weight: 600;
        font-size: 2.2rem;
    }
    
    .third-section > .semi-end p {
        font-weight: 500;
        font-size: 1.5rem;
    }

    .third-section > .semi-end li {
        margin-bottom: 30px;
        margin-left: 5%;
        font-size: 1.2rem;
        font-weight: 500;
    }
    
    .third-section > .semi-end > .last-button {
        font-size: 1.2rem;
        padding: 1rem;
    }
    
    footer {
        width: 100%;
        padding: 7% 0;
    }
    
    footer > #foot {
        display: flex;
        flex-direction: column;
        margin: 0;
    }
    
    footer > #foot #last-frame {
        width: 45%;
    }
    
    footer > #foot #last-frame img {
        width: 100%;
    }
    
    footer > #foot > #tag p {
        margin-bottom: 0;
        font-size: 1.5rem;
        width: 100%;
        text-align: center;
    }
    
    footer > #foot > #tag {
        width: 100%;
        display: flex;
        flex-direction: column-reverse;
    }
    
    
    footer > #foot > #tag > #internet {
        display: flex;
        justify-content: center;
        margin-top: 4%;
        width: 100%;
    }
    
    footer > #foot > #tag > #internet img {
        width: 5%;
    }
}

@media screen and (min-width: 1280px) and (min-width: 800px) {
    header > .nav2 {
        display: none;
    }

    header > .iren > nav {
        display: flex;
        width: 45%;
        text-align: center;
        margin: 0;
    }

    header > .iren > nav a {
        padding: 3%;
        text-align: right;
        font-size: 1.5rem;
        font-family: 'proxima-nova', sans-serif;
        font-weight: 600;
    }

    header > .iren > nav #blog {
        text-align: right;
        font-size: 1.5rem;
        font-family: 'proxima-nova', sans-serif;
        font-weight: 600;
    }

    header {
        padding: 10px;
    }

    header > .iren > .left {
        width: 25%;
        padding: 0 0 0 4%;
        margin: 0;
    }

    header > .iren > .left img {
        display: flex;
        margin: 0;
        width: 100%;
    }
    
    .first-section {
        display: flex;
        justify-content: space-between;
        margin: auto;
        width: 100%;
        padding: 0 4%;
    }  
    
    .first-section > .semi-left {
        text-align: left;
        width: 50%;
        margin: 6% 0;
    }

    .first-section > .semi-left h1 {
        font-size: 3.5rem;
        word-break: keep-all;
    }
       
    .first-section > .semi-left > .class {
        font-size: 1.7rem;
        word-break: keep-all;
        padding-bottom: 5%;
    }    
    
    .first-section > .semi-left > button {
        margin-top: 2%;
        font-size: 1.5rem;
    }   
    
    
    .first-section > .semi-left > .icons {
         display: flex;
         align-content: center;
         justify-content: center;
         margin-top: 7%;
    }    
    
    .first-section > .semi-left > .icons > .icon {
        display: flex;
        align-items: center;
        gap: 5%;
        width: 50%;
    }
    
    .first-section > .semi-left > .icons > .icon img {
        width: 30%;
    }    
    
    .first-section > .semi-left > .icons > .icon p {
        font-size: 1rem;
        text-align: left;
    }
        
    .first-section > .house {
        width: 50%;
        align-items: center; 
        text-align: center;   
    }
    
    .first-section > .house img {
        width: 100%;
        margin: auto;
    }  
    
    section{
        display: flex;
        justify-content: space-between;
        margin: auto;
        height: auto;
        padding: 0 4%;
        width: 100%;
    }   
    
    section > .second-section {
        margin: 4% 0;
        width: 50%;
        padding: 0;
    }    
    
    section > .second-section h3 {
        word-break: keep-all;
        padding-bottom: 8%;
        font-size: 2.5rem;
    }
    
    section > .second-section p {
        word-break: keep-all;
        font-size: 1.7rem;
        padding-bottom: 9%;
    }    
    
    section > .second-section .learn {
        margin-top: 0;
        font-size: 1.5rem;
    }   
    
    section > .house2 {
        margin: 0;
        width: 45%;
        position: relative;
    }   
    
    section > .house2 > #ire {
        padding-top: 13%;
        padding-left: 15%;
        position: relative;
        width: 100%;
    }
    
    section > .house2 > #ire img {
        width: 100%;
    }
    
    section > .house2 > #eye {
        position: relative;
        bottom: 16rem;
        z-index: 1;
        font-size: 1.5rem;
        text-align: center;
        padding: 10% 0;
        width: 30%;
    }    
    
    section > .house2 > #link {
        position: absolute;
        left: 20rem;
        bottom: 5rem;
        z-index: 1;
        font-size: 1.5rem;
        text-align: center;
        padding: 10% 0;
        width: 30%;
    }    
    
    .third-section {
        width: 100%;
        height: auto;
        display: flex;
        justify-content: space-between;
        padding: 4% 5%;
        margin: 10% auto;
    }
    
    .third-section > .third {
        width: 50%;
        margin: 0;
        position: relative;
    }
    
    .third-section > .third > #bed-room {
        width: 100%;
        position: relative;
        align-items: center;
    }
    
    .third-section > .third > #bed-room img {
        width: 100%;
    }
    
    .third-section > .third > .girl-frame {
        position: relative;
        z-index: 1;
        bottom: 7rem;
        right: 3rem;
        padding: 2.2rem 1rem;
        width: 67%;
    }
    
    .third-section > .third > .girl-frame > #joyframe {
        margin-top: 5%;
        margin-left: 10px;
        padding-left: 0%;
    } 
    
    .third-section > .third > .girl-frame > #joyframe img {
        width: 26%;
    }
    
    .third-section > .third > .girl-frame > #joyframe p {
        font-size: 1.2rem;
        padding-bottom: 2%;
    }
    
    .third-section > .third > .girl-frame > #joyframe #logo {
        font-size: 1.5rem;
        margin-left: 30%;
        margin-top: -30%;
    }
    
    .third-section > .third >.girl-frame >  #social {
        margin-left: 20%;
        margin-top: 3%;
        display: flex;
        justify-content: space-evenly;
    }    
    
    .third-section > .third > #ending {
        position: absolute;
        z-index: 1;
        width: 30%;
        bottom: 7rem;
        left: 24rem;
        padding: 1.5rem;
    }
    
    .third-section > .third > #ending .picture {
        width: 100%;
    }
    
    .third-section > .semi-end {
        word-break: keep-all;
        width: 50%;
        /* height: 110vh; */
        padding: 0;
        margin-top: 3%;
    }
    
    .third-section > .semi-end h2 {
        font-weight: 600;
        font-size: 2rem;
    }
    
    .third-section > .semi-end p {
        font-weight: 500;
        font-size: 1.5rem;
    }

    .third-section > .semi-end li {
        margin-bottom: 30px;
        margin-left: 5%;
        font-size: 1.2rem;
        font-weight: 500;
    }
    
    .third-section > .semi-end > .last-button {
        font-size: 1.5rem;
        padding: 1.5rem;
    }
    
    footer {
        width: 100%;
        padding: 3% 4%;
    }
    
    footer > #foot {
        display: flex;
        justify-content: space-between;
        margin: 0;
    }
    
    footer > #foot #last-frame {
        width: 25%;
    }
    
    footer > #foot #last-frame img {
        width: 100%;
    }
    
    footer > #foot > #tag p {
        margin-bottom: 0;
        font-size: 1.5rem;
        width: 100%;
        text-align: end;
    }
    
    footer > #foot > #tag {
        width: 40%;
        display: flex;
        flex-direction: column;
    }
    
    
    footer > #foot > #tag > #internet {
        display: flex;
        justify-content: flex-end;
        margin-top: 8%;
        width: 100%;
    }
    
    footer > #foot > #tag > #internet img {
        width: 7%;
    }
}

@media screen and (min-width: 1440px) and (min-width: 809px) {
    section > .house2 > #link {
        position: absolute;
        left: 24rem;
        bottom: 5rem;
        z-index: 1;
        font-size: 1.5rem;
        text-align: center;
        padding: 10% 0;
        width: 30%;
    } 

    .third-section {
        width: 100%;
        height: auto;
        display: flex;
        justify-content: space-between;
        padding: 4% 7%;
        margin: 10% auto;
    }

    .third-section > .third > .girl-frame {
        position: relative;
        z-index: 1;
        bottom: 7rem;
        right: 5rem;
        padding: 2.2rem 1rem;
        width: 67%;
    }

    .third-section > .third > #ending {
        position: absolute;
        z-index: 1;
        width: 30%;
        bottom: 6rem;
        left: 26rem;
        padding: 1.5rem;
    }

    footer {
        width: 100%;
        padding: 3% 4%;
    }
}

@media screen and (min-width: 1680px) and (min-width: 1050px) {
    header > .nav2 {
        display: none;
    }

    header > .iren > nav {
        display: flex;
        width: 40%;
        text-align: center;
        margin: 0;
    }

    header > .iren > nav a {
        padding: 3%;
        font-size: 2rem;
    }

    header > .iren > nav #blog {
        text-align: right;
        font-size: 1.9rem;
        font-family: 'Inter', sans-serif;
        font-weight: 600;
    }

    header {
        padding: 10px;
    }

    header > .iren > .left {
        width: 20%;
        padding: 0 0 0 4%;
        margin: 0;
    }

    header > .iren > .left img {
        display: flex;
        margin: 0;
        width: 100%;
    }
    
    .first-section {
        display: flex;
        justify-content: space-between;
        margin: auto;
        width: 100%;
        padding: 0 4%;
    }  
    
    .first-section > .semi-left {
        text-align: left;
        width: 50%;
        margin: 6% 0;
    }

    .first-section > .semi-left h1 {
        font-size: 4.5rem;
        word-break: keep-all;
    }
       
    .first-section > .semi-left > .class {
        font-size: 2rem;
        word-break: keep-all;
        padding-bottom: 5%;
    }    
    
    .first-section > .semi-left > button {
        margin-top: 2%;
        font-size: 1.7rem;
    }   
    
    
    .first-section > .semi-left > .icons {
         display: flex;
         align-content: center;
         justify-content: center;
         margin-top: 7%;
    }    
    
    .first-section > .semi-left > .icons > .icon {
        display: flex;
        align-items: center;
        gap: 5%;
        width: 50%;
    }
    
    .first-section > .semi-left > .icons > .icon img {
        width: 40%;
    }    
    
    .first-section > .semi-left > .icons > .icon p {
        font-size: 1.5rem;
        text-align: left;
    }
        
    .first-section > .house {
        width: 50%;
        align-items: center; 
        text-align: center;   
    }
    
    .first-section > .house img {
        width: 100%;
        margin: auto;
    }  
    
    section{
        display: flex;
        justify-content: space-between;
        margin: auto;
        height: auto;
        padding: 0 4%;
        width: 100%;
    }   
    
    section > .second-section {
        margin: 4% 0;
        width: 50%;
        padding: 0;
    }    
    
    section > .second-section h3 {
        word-break: keep-all;
        padding-bottom: 8%;
        font-size: 3.5rem;
    }
    
    section > .second-section p {
        word-break: keep-all;
        font-size: 2rem;
        padding-bottom: 9%;
    }    
    
    section > .second-section .learn {
        margin-top: 0;
        font-size: 1.7rem;
    }   
    
    section > .house2 {
        margin: 0;
        width: 45%;
        position: relative;
    }   
    
    section > .house2 > #ire {
        padding-top: 13%;
        padding-left: 15%;
        position: relative;
        width: 100%;
    }
    
    section > .house2 > #ire img {
        width: 100%;
    }
    
    section > .house2 > #eye {
        position: relative;
        bottom: 16rem;
        z-index: 1;
        font-size: 1.5rem;
        text-align: center;
        padding: 10% 0;
        width: 30%;
    }    
    
    section > .house2 > #link {
        position: absolute;
        left: 28rem;
        bottom: 5rem;
        z-index: 1;
        font-size: 1.5rem;
        text-align: center;
        padding: 10% 0;
        width: 30%;
    }    
    
    .third-section {
        width: 100%;
        height: auto;
        display: flex;
        justify-content: space-between;
        padding: 4% 9%;
        margin: 10% auto;
    }
    
    .third-section > .third {
        width: 50%;
        margin: 0;
        position: relative;
    }
    
    .third-section > .third > #bed-room {
        width: 100%;
        position: relative;
        align-items: center;
    }
    
    .third-section > .third > #bed-room img {
        width: 100%;
    }
    
    .third-section > .third > .girl-frame {
        position: relative;
        z-index: 1;
        bottom: 7rem;
        right: 5rem;
        padding: 2.2rem 1rem;
        width: 67%;
    }
    
    .third-section > .third > .girl-frame > #joyframe {
        margin-top: 5%;
        margin-left: 10px;
        padding-left: 0%;
    } 
    
    .third-section > .third > .girl-frame > #joyframe img {
        width: 26%;
    }
    
    .third-section > .third > .girl-frame > #joyframe p {
        font-size: 1.2rem;
        padding-bottom: 2%;
    }
    
    .third-section > .third > .girl-frame > #joyframe #logo {
        font-size: 1.5rem;
        margin-left: 30%;
        margin-top: -30%;
    }
    
    .third-section > .third >.girl-frame >  #social {
        margin-left: 20%;
        margin-top: 3%;
        display: flex;
        justify-content: space-evenly;
    }    
    
    .third-section > .third > #ending {
        position: absolute;
        z-index: 1;
        width: 30%;
        bottom: 6rem;
        left: 28rem;
        padding: 1.5rem;
    }
    
    .third-section > .third > #ending .picture {
        width: 100%;
    }
    
    .third-section > .semi-end {
        word-break: keep-all;
        width: 50%;
        /* height: 110vh; */
        padding: 0;
        margin-top: 3%;
    }
    
    .third-section > .semi-end h2 {
        font-weight: 600;
        font-size: 2.5rem;
    }
    
    .third-section > .semi-end p {
        font-weight: 500;
        font-size: 2rem;
    }

    .third-section > .semi-end li {
        margin-bottom: 30px;
        margin-left: 5%;
        font-size: 2rem;
        font-weight: 500;
    }
    
    .third-section > .semi-end > .last-button {
        font-size: 1.5rem;
        padding: 1.5rem;
    }
    
    footer {
        width: 100%;
        padding: 3% 4%;
    }
    
    footer > #foot {
        display: flex;
        justify-content: space-between;
        margin: 0;
    }
    
    footer > #foot #last-frame {
        width: 20%;
    }
    
    footer > #foot #last-frame img {
        width: 100%;
    }
    
    footer > #foot > #tag p {
        margin-bottom: 0;
        font-size: 1.8rem;
        width: 100%;
        text-align: end;
    }
    
    footer > #foot > #tag {
        width: 40%;
        display: flex;
        flex-direction: column;
    }
    
    
    footer > #foot > #tag > #internet {
        display: flex;
        justify-content: flex-end;
        margin-top: 8%;
        width: 100%;
    }
    
    footer > #foot > #tag > #internet img {
        width: 9%;
    }
}
